/* body{
    height: 3000px;
} */
#title{
    width: 1000px;
    height: 30px;
    background-color: rgb(206, 173, 236);
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 16px;
    color: rgb(63, 88, 92);
    font-weight: bold;
}

#showInfo{
    width: 1000px;
    /* height: 20px; */
    margin: 0 auto;
    border: 1px solid black;
    border-collapse:collapse;
}


.showInfo td{
    text-align: center;
    border: 1px solid black;

}
.showInfo td a{
    text-decoration: none;
}

#add{
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-radius: 25px;
    color: #8E6B23;
    font-weight: bold;

}
#search{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 110px;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    border-radius: 25px;
    color: #364f6b;
    font-weight: bold;
}
#tool{
    width: 100px;
    height: 210px;
    position: fixed;
    line-height: 100px;
    text-align: center;
    flex-wrap: nowrap;
    right: 20px;
    top: 70%;
}

